<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css" />
</head>
<body>
    <%- include("header")%>
    <main class="main-container">
        <%- include("sidebar")%>
            <form class="create-folder-form" action="/create-folder" method="POST">
                <label for="foldername">Enter the folder name:</label>
                <input type="text" name="foldername" id="foldername" />
                <button class="btn" type="submit">Create</button>
            </form>
    </main>
    
</body>
</html>