<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Folder</title>
    <link rel="stylesheet" href="/styles.css" />
</head>
<body>
    <%- include("header")%>
    <main class="main-container">
        <%- include("sidebar")%>
            <form action="/edit-folder/<%=folder.id%>" method="POST">
                <label for="foldername">Enter new folder name:</label>
                <input type="text" name="foldername" value="<%=folder.foldername%>" id="foldername" />
                <button class="btn" type="submit">Save Changes</button>
            </form>
    </main>
   
</body>
</html>