<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="/styles.css"/>
</head>
<body>
    <%- include("header")%>
    <form class="form" action="/login" method="POST">
        <h1>Please log in</h1>
        <section class="form-section">
            <label for="username">Username</label>
            <input id="username" name="username" type="text" required/>
        </section>
        <section class="form-section">
            <label for="password">Password</label>
            <input id="password" name="password" type="password" required/>
        </section>
        <button class="btn">Log in</button>
        <p>Don't have an account yet? <a class="sign-up" href="/sign-up">Sign up</a></p>
    </form>
</body>
</html>