:root{
    --main-color: rgb(39, 102, 239);
}

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

ul li{
    list-style-type: none;
}


.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

a{
    text-decoration: none;
    color: black;
}

.btn{
    color: white;
    background-color: var(--main-color);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;

}

.btn-2{
    color: var(--main-color);
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border: 1px solid var(--main-color);
    cursor: pointer;
    font-weight: bold;
}

.folder-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 2px solid;
    padding: 2rem;
    gap: 1rem;

    gap: 2rem;
}

.main-container{
    display: flex;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.sidebar{
    width: 20rem;
    border: 2px solid;
    text-align: center;
    padding-left: 0;
}

.main-btns{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.title{
    font-size: 2rem;
    font-weight: bold;
}

.main-content{
    display: grid;
    margin-right: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 2rem;
}

.file-card{
    border: 2px solid;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.auth-err{
    margin: auto;
}

.auth-err a{
    color: var(--main-color);
}

.form{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 2px solid gray;
    border-radius: 2rem;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.file{
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}

.file-input label{
    display: block;
    margin: auto;
    position: relative;
    width: 200px;
    height: 50px;
    border: 2px solid var(--main-color);
    border-radius: 25px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    font-weight: bold;
    cursor: pointer;
    transition: transform .2s ease-in-out;
}

.file-name{
   position: relative;
   
   left: 10px;
   font-size: 0.85rem;
   color: black; 
}

.form-section{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

input{
    border: 2px solid rgb(142, 141, 141);
    border-radius: 2rem;
    padding: 0.5rem;
}

input:focus{
    outline: none;
}

